// generals
$white: #fff;
$link-color: black;
$antique-color: #FAF7F1;
$rose: #f5d8ca;
$main-color:#F77B72;
$rubin: #EE2852;
// icon color
$green-apple: #BADAC9;
$my-violet:#80465F;
$lemon: #F8D12D;
$brick:#F0817B;
//  text-color
$subtitle-grey: #878787 ,